# Project 04 : Retail Analysis with Walmart Data

<hr style="border: solid rgb(255,255,255) 1.0px;height: 2.0px;"/>

## <font color=blue>Basic Statistics tasks

•	Which store has maximum sales

•	Which store has maximum standard deviation i.e., the sales vary a lot. Also, find out the coefficient of mean to standard deviation

•	Which store/s has good quarterly growth rate in Q3’2012

•	Some holidays have a negative impact on sales. Find out holidays which have higher sales than the mean sales in non-holiday season for all stores together

•	Provide a monthly and semester view of sales in units and give insights

In [24]:
# importing the dataset
import pandas as pd
df_rawdata = pd.read_csv("S:\\SandeepG\\Official\\DataScience\\SimpliLearn\\Data Science with Python\\Projects\\Project 05 - Walmart\\Walmart_Store_sales.csv",  sep=',', engine='python', header='infer')
df_rawdata

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,5/2/2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12/2/2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,5/3/2010,1554806.68,0,46.50,2.625,211.350143,8.106
...,...,...,...,...,...,...,...,...
6430,45,28-09-2012,713173.95,0,64.88,3.997,192.013558,8.684
6431,45,5/10/2012,733455.07,0,64.89,3.985,192.170412,8.667
6432,45,12/10/2012,734464.36,0,54.47,4.000,192.327265,8.667
6433,45,19-10-2012,718125.53,0,56.47,3.969,192.330854,8.667
6434,45,26-10-2012,760281.43,0,58.85,3.882,192.308899,8.667

#### <font color=blue>Question : Which store has maximum sales?

In [25]:
# converting weekly_sales in millions term to interpret the number better
df_rawdata['Weekly_Sales_InMillions'] = df_rawdata['Weekly_Sales']/1000000

df_rawdata

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Weekly_Sales_InMillions
0,1,5/2/2010,1643690.90,0,42.31,2.572,211.096358,8.106,1.643691
1,1,12/2/2010,1641957.44,1,38.51,2.548,211.242170,8.106,1.641957
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106,1.611968
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106,1.409728
4,1,5/3/2010,1554806.68,0,46.50,2.625,211.350143,8.106,1.554807
...,...,...,...,...,...,...,...,...,...
6430,45,28-09-2012,713173.95,0,64.88,3.997,192.013558,8.684,0.713174
6431,45,5/10/2012,733455.07,0,64.89,3.985,192.170412,8.667,0.733455
6432,45,12/10/2012,734464.36,0,54.47,4.000,192.327265,8.667,0.734464
6433,45,19-10-2012,718125.53,0,56.47,3.969,192.330854,8.667,0.718126
6434,45,26-10-2012,760281.43,0,58.85,3.882,192.308899,8.667,0.760281

In [26]:
df_rawdata.groupby(['Store']).sum().sort_values(by = 'Weekly_Sales_InMillions', ascending = False)

,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Weekly_Sales_InMillions
Store,,,,,,,
20,3.013978e+08,10,7929.55,488.718,29892.452680,1054.112,301.397792
4,2.995440e+08,10,8902.23,460.027,18401.192733,852.951,299.543953
14,2.889999e+08,10,8264.11,488.718,26638.851959,1236.771,288.999911
13,2.865177e+08,10,7678.69,469.919,18401.192733,1001.261,286.517704
2,2.753824e+08,10,9754.94,460.417,30837.422420,1090.210,275.382441
10,2.716177e+08,10,10330.49,511.357,18401.192733,1195.904,271.617714
27,2.538559e+08,10,8195.49,511.696,19878.613542,1144.250,253.855917
6,2.237561e+08,10,9967.10,460.417,31110.107182,944.787,223.756131
1,2.224028e+08,10,9767.87,460.417,30887.555523,1088.290,222.402809
39,2.074455e+08,10,10095.42,460.417,30706.256907,1125.274,207.445542
19,2.066349e+08,10,7478.19,511.696,19318.242848,1143.464,206.634862
31,1.996139e+08,10,9845.21,460.417,30837.422420,1090.210,199.613905
23,1.987506e+08,10,6979.13,492.169,19318.242848,685.830,198.750618
24,1.940160e+08,10,7726.29,511.696,19318.242848,1207.923,194.016021
11,1.939628e+08,10,10364.75,460.417,31372.988971,1026.309,193.962787
28,1.892637e+08,10,10047.58,515.718,18401.192733,1875.657,189.263681
41,1.813419e+08,10,6922.68,463.543,27693.986741,997.193,181.341935
32,1.668192e+08,10,7542.90,463.543,27693.986741,1227.760,166.819246
18,1.551147e+08,10,7632.09,492.169,19318.242848,1263.877,155.114734
22,1.470756e+08,10,7850.29,492.169,19878.613542,1153.920,147.075649
12,1.442872e+08,10,10047.58,515.718,18401.192733,1875.657,144.287230
26,1.434164e+08,10,6243.13,492.169,19318.242848,1125.706,143.416394
34,1.382498e+08,10,8364.91,460.027,18401.192733,1420.677,138.249763
40,1.378703e+08,10,6817.46,492.169,19318.242848,685.830,137.870310
35,1.315207e+08,10,8195.49,488.718,19878.613542,1256.766,131.520672
8,1.299512e+08,10,8939.50,460.417,31379.780750,871.134,129.951181
17,1.277821e+08,10,6633.37,469.919,18401.192733,936.565,127.782139
45,1.123953e+08,10,8264.11,488.718,26638.851959,1236.771,112.395341
21,1.081179e+08,10,9845.21,460.417,30837.422420,1090.210,108.117879
25,1.010612e+08,10,7455.79,488.718,29892.452680,1054.112,101.061179
43,9.056544e+07,10,9849.51,460.417,29706.128216,1420.677,90.565435
15,8.913368e+07,10,7412.24,511.696,19318.242848,1143.464,89.133684
7,8.159828e+07,10,5680.00,463.543,27693.986741,1227.760,81.598275
42,7.956575e+07,10,10330.49,511.357,18401.192733,1195.904,79.565752
9,7.778922e+07,10,9691.85,460.417,31406.616557,872.283,77.789219
29,7.714155e+07,10,7850.29,492.169,19318.242848,1402.313,77.141554
16,7.425243e+07,10,6439.30,463.543,27693.986741,926.353,74.252425
37,7.420274e+07,10,10175.93,460.417,30706.256907,1125.274,74.202740
30,6.271689e+07,10,9845.21,460.417,30837.422420,1090.210,62.716885
3,5.758674e+07,10,10215.09,460.417,31372.988971,1026.309,57.586735
38,5.515963e+07,10,10047.58,515.718,18401.192733,1875.657,55.159626
36,5.341221e+07,10,10175.93,458.201,30706.256907,1125.274,53.412215
5,4.547569e+07,10,9925.65,460.417,30968.878137,900.243,45.475689
44,4.329309e+07,10,7678.69,469.919,18401.192733,963.194,43.293088
33,3.716022e+07,10,10972.13,511.357,18401.192733,1220.241,37.160222

#### <font color=green>Answer : Store 20 has maximum sales

<hr style="border: solid rgb(255,255,255) 1.0px;height: 0.5px;"/>

#### <font color=blue> Question : Which store has maximum standard deviation i.e., the sales vary a lot. Also, find out the coefficient of mean to standard deviation?

In [27]:
import numpy as np

print(df_rawdata.groupby("Store") \
      .apply(np.std)[['Weekly_Sales_InMillions']]\
      .sort_values(by = 'Weekly_Sales_InMillions', ascending = False)\
      .head())

       Weekly_Sales_InMillions
Store
14                    0.316458
10                    0.301203
20                    0.274934
4                     0.265269
13                    0.264577

#### <font color=green>Answer : Store 14 has maximum std deviation

In [28]:
# calculating mean and std
df_mean_std = df_rawdata.groupby(['Store'], as_index=False).agg({'Weekly_Sales_InMillions':['mean','std']})

# calculating coefficient of mean to std dev
df_mean_std['Weekly_Sales_InMillions', 'Cv'] = df_mean_std['Weekly_Sales_InMillions', 'std']/abs(df_mean_std['Weekly_Sales_InMillions', 'mean'])

# sort desc by std_dev
df_mean_std.sort_values([('Weekly_Sales_InMillions', 'std')], ascending=False).head(1)

   Store Weekly_Sales_InMillions
                            mean      std        Cv
13    14                2.020978  0.31757  0.157137

#### <font color=green>Answer : Above displays store with max std_dev and its coefficient of mean to std_dev (Cv)

#### <font color=blue> Question : Which store/s has good quarterly growth rate in Q3’2012

<hr style="border: solid rgb(255,255,255) 1.0px;height: 2.0px;"/>