In [4]:
import pandas as pd
import numpy as np
date_range = pd.period_range("2016-01", "2018-01",freq='m')
df= pd.DataFrame({'A':np.random.rand(len(date_range))}, index=date_range)
df

                A
2016-01  0.105241
2016-02  0.547377
2016-03  0.895189
2016-04  0.004206
2016-05  0.914694
2016-06  0.633967
2016-07  0.747345
2016-08  0.716410
2016-09  0.924645
2016-10  0.779171
2016-11  0.167309
2016-12  0.232367
2017-01  0.740985
2017-02  0.377706
2017-03  0.786372
2017-04  0.687231
2017-05  0.070385
2017-06  0.575905
2017-07  0.609321
2017-08  0.466506
2017-09  0.123637
2017-10  0.668985
2017-11  0.397060
2017-12  0.251108
2018-01  0.508854

In [5]:
df['pct_pop'] = df['A'].pct_change()
df['pct_yoy'] = df['A'].pct_change(12)
df

                A     pct_pop     pct_yoy
2016-01  0.105241         NaN         NaN
2016-02  0.547377    4.201180         NaN
2016-03  0.895189    0.635415         NaN
2016-04  0.004206   -0.995301         NaN
2016-05  0.914694  216.453458         NaN
2016-06  0.633967   -0.306909         NaN
2016-07  0.747345    0.178839         NaN
2016-08  0.716410   -0.041393         NaN
2016-09  0.924645    0.290664         NaN
2016-10  0.779171   -0.157330         NaN
2016-11  0.167309   -0.785273         NaN
2016-12  0.232367    0.388848         NaN
2017-01  0.740985    2.188855    6.040846
2017-02  0.377706   -0.490266   -0.309972
2017-03  0.786372    1.081971   -0.121557
2017-04  0.687231   -0.126074  162.377867
2017-05  0.070385   -0.897582   -0.923051
2017-06  0.575905    7.182252   -0.091585
2017-07  0.609321    0.058024   -0.184685
2017-08  0.466506   -0.234384   -0.348828
2017-09  0.123637   -0.734971   -0.866287
2017-10  0.668985    4.410854   -0.141415
2017-11  0.397060   -0.406474    1.373208
2017-12  0.251108   -0.367582    0.080651
2018-01  0.508854    1.026437   -0.313274