In [1]:
import os
os.getcwd()

'/kaggle/working'

In [2]:
os.chdir('/kaggle/input/optiver-realized-volatility-prediction')

In [3]:
print(os.listdir("."))

['trade_train.parquet', 'sample_submission.csv', 'book_test.parquet', 'trade_test.parquet', 'book_train.parquet', 'train.csv', 'test.csv']

In [4]:
import pandas as pd

In [30]:
df_sample_submission = pd.read_csv('./sample_submission.csv')
df_train = pd.read_csv('./train.csv')
df_test = pd.read_csv('./test.csv')

In [9]:
import ipywidgets as widgets
#import matplotlib.pyplot as plt

from pathlib import Path

data_dir = Path('./')

df_names = ['sample_submission', 'train', 'test']

for name in df_names:
    globals()[name] = pd.read_csv(data_dir / f"{name}.csv")

kaggle_data_tabs = widgets.Tab()
# Add Output widgets for each pandas DF as tabs' children
kaggle_data_tabs.children = list([widgets.Output() for df_name in df_names])

for index in range(0, len(df_names)):
    # Rename tab bar titles to df names
    kaggle_data_tabs.set_title(index, df_names[index])
    
    # Display corresponding table output for this tab name
    with kaggle_data_tabs.children[index]:
        display(eval(df_names[index]))

display(kaggle_data_tabs)

Tab(children=(Output(), Output(), Output()), _titles={'0': 'sample_submission', '1': 'train', '2': 'test'})

In [11]:
df_train.describe()

            stock_id        time_id         target
count  428932.000000  428932.000000  428932.000000
mean       62.437944   16038.972721       0.003880
std        37.126450    9365.103706       0.002936
min         0.000000       5.000000       0.000105
25%        30.000000    7854.000000       0.002026
50%        63.000000   15853.000000       0.003048
75%        96.000000   23994.000000       0.004738
max       126.000000   32767.000000       0.070321

In [12]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 428932 entries, 0 to 428931
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   stock_id  428932 non-null  int64
 1   time_id   428932 non-null  int64
 2   target    428932 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 9.8 MB

In [19]:
df_train_0 = df_train[df_train['stock_id'] == 0]

In [32]:
df_train.describe()

            stock_id        time_id         target
count  428932.000000  428932.000000  428932.000000
mean       62.437944   16038.972721       0.003880
std        37.126450    9365.103706       0.002936
min         0.000000       5.000000       0.000105
25%        30.000000    7854.000000       0.002026
50%        63.000000   15853.000000       0.003048
75%        96.000000   23994.000000       0.004738
max       126.000000   32767.000000       0.070321

In [29]:
df_train_0.stock_id.unique()

array([0])

In [33]:
data1 = pd.DataFrame({
        'A':list('abcdef'),
         'B':[4,5,4,5,5,4],
         'C':[7,8,9,4,2,3],
         'D':[1,3,5,7,1,0],
         'E':[5,3,6,9,2,4],
         'Start':list('aaabbb')
})

In [38]:
data2 = pd.DataFrame({
         'EmpName':['EmpName1', 'EmpName2', 'EmpName3', 'EmpName4', 'EmpName5'],
         'EmpCity':['City1', 'City1', 'City2', 'City2', 'City3'],
          'EmpSal':[100,200,300,400,500]
})

In [39]:
data2.head(100)

    EmpName EmpCity  EmpSal
0  EmpName1   City1     100
1  EmpName2   City1     200
2  EmpName3   City2     300
3  EmpName4   City2     400
4  EmpName5   City3     500

In [41]:
import numpy as np
df1 = data2.set_index("EmpCity").select_dtypes(np.number).stack().groupby(level=0).describe() 
print (df1)

         count   mean        std    min    25%    50%    75%    max
EmpCity
City1      2.0  150.0  70.710678  100.0  125.0  150.0  175.0  200.0
City2      2.0  350.0  70.710678  300.0  325.0  350.0  375.0  400.0
City3      1.0  500.0        NaN  500.0  500.0  500.0  500.0  500.0

In [31]:
df_train.stock_id.unique()

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  26,  27,  28,
        29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,  40,  41,
        42,  43,  44,  46,  47,  48,  50,  51,  52,  53,  55,  56,  58,
        59,  60,  61,  62,  63,  64,  66,  67,  68,  69,  70,  72,  73,
        74,  75,  76,  77,  78,  80,  81,  82,  83,  84,  85,  86,  87,
        88,  89,  90,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102,
       103, 104, 105, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       118, 119, 120, 122, 123, 124, 125, 126])